<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit {{one_user.first_name}}'s Info</h1>
    
    <form action="/update/{{one_user.id}}" method="post">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" value="{{one_user.first_name}}">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" value="{{one_user.last_name}}">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{one_user.email}}">

        <button>Submit</button>
        </form>
    <p><a href="/show/{{one_user.id}}">Show User</a> | <a href="/">Home</a> </p>
</body>
</html>